{% if items is defined and items is not empty %}
    <aside
        data-component="block:aside-listing"
        class="{{ customClasses is defined ? ' ' ~ customClasses }}"
    >
        {% if title is defined %}<h2>{{ title }}</h2>{% endif %}
        {% if items|length > 1 %}
            <ul>
                {% for item in items %}
                    <li>
                        {% include '@card:card-aside' with item %}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>
                {% include '@card:card-aside' with items[0] %}
            </p>
        {% endif %}
    </aside>
{% endif %}
