{% if text is defined %}
    {% if href is defined and href != null %}
        <a href="{{ href }}"
    {% else %}
        <span
    {% endif %}
    data-component="atom:topic"
    class="
      f-ui-0 inline-block border text-tag border-tag
      px-8 pt-5 pb-3 lg:pb-4 uppercase inline-flex justify-center items-center
      {% if href is defined and href != null %}hover:bg-tag hover:text-inverse focus:bg-tag focus:text-inverse{% endif %}
      {{ customClasses is defined ? ' ' ~ customClasses }}"
    {{ attrs is defined ? attrs|arrayToAttributes|raw }}>
    {{ text }}
    {% if href is defined and href != null %}
        </a>
  {% else %}
        </span>
    {% endif %}
{% endif %}
