{% if label is defined %}
    <button
        data-component="atom:chip"
        class="
    chip
    flex
    bg-light
    py-4
    px-12
    rounded-full
    hover:bg-accent-secondary
    f-ui-2
    items-center
    h-28
    flex-shrink-0
    {{ customClasses is defined ? ' ' ~ customClasses }}"
        {{ attrs is defined ? attrs|arrayToAttributes|raw }}
    >
        {% include '@svg:icon-24-cross' with {
            "customClasses": "block mr-4 h-12 w-12 pointer-events-none	pointer-events-none",
        } %}
        {{ label }}
    </button>
{% endif %}
