<h1 class="f-heading-2">Design Color tokens</h1>
<p class="f-body-1 mt-12 max-w-2xl">For reference only. These colors generate CSS variables which Tailwind classes pick
    from.</p>

<ul class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 xl:grid-cols-6 gap-gutter mt-40">
    {{ getColourStyles('uscc', 'tokens') }}
</ul>
