<span class="icon-play-wrapper {{ wrapperCustomClasses is defined ? wrapperCustomClasses }}">
    <svg width="16" height="20" viewBox="0 0 20 26" fill="none" xmlns="http://www.w3.org/2000/svg" class="{{ customClasses is defined ? customClasses }}" {{ attrs is defined ? attrs|arrayToAttributes|raw }}>
        <path d="M-8.18444e-05 2.55344L-8.3671e-05 23.4465C-8.37808e-05 24.7032 1.38224 25.4694 2.44791 24.8033L19.1624 14.3568C20.165 13.7301 20.165 12.2699 19.1624 11.6432L2.44792 1.19665C1.38224 0.530598 -8.17346e-05 1.29675 -8.18444e-05 2.55344Z" fill="white"/>
    </svg>
</span>